
#div1{
    width:90%;
    background-color: cornflowerblue;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}
#div2{
    width: 90%;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}
a{
    padding-top: 10px;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    display: inline-block;
    margin-left: 12%;
    color: aliceblue;
    text-decoration: none;
}
#input{
    width: 100%;
    line-height: 1.8;
    margin:auto;
}
input{
    width: 100%;
}
#tb{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
