
#div1{
    width:90%;
    background-color: cornflowerblue;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}
#div2{
    width: 90%;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}
.nav{
    padding-top: 10px;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    display: inline-block;
    margin-left: 12%;
    color: aliceblue;
    text-decoration: none;
}
.up{
    text-decoration: none;
    text-align: center;
    display: inline-block;
}
#input{
    width: 100%;
    line-height: 1.8;
    margin:auto;
}
input{
    width: 100%;
    outline:none;
    text-align: center;
}
td{
    color: cornflowerblue;
}
label{
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: 1em;
    color: cornflowerblue;

}
.button{
    display: block;
    width:100px;
    height: 30px;
    outline:none;
    border: 0px;
    text-align: center;
    background-color: aliceblue;
    color: cornflowerblue;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
#tb{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
